<label for="mySlider">Encryption Level: <span id="sliderValue">5</span></label>
<input type="range" id="mySlider" name="mySlider" min="1" max="25" value="5" oninput="sliderValue.innerText = this.value">